
nav.Nav__menu {
    & .Nav__item {
            background: white;
            padding: 14px;
            margin: 2px;
            /* width: 100%; */
            display: block;
            text-decoration: none;
    
        &.active, &.active:hover {
            background: #3B89C9;
                color: white;
        }
        &:active {
            background: #3B89C9;
                color: white;
        }
        &:hover, {
            background: #666666;
                color: white;
        }
    }
}
nav.Nav__menu ul li:active {
    background: #3B89C9;
}

.divided {
    margin-top: 40px;
    text-align: center;
    display: block;
    font-size: 30px;
}